table {
    margin:auto;
    background-color: white;
    border: solid #406161 2px;
    position: static;

}
.cell {
    height: 32px;
    width: 32px;
    background-color: #e6cae5;
    text-align: center;
    color: #406161;
}
.covered {
    background-color: rgb(65, 79, 92);
    box-shadow: inset 0px 0px 10px 0px #000000;
}
.covered:hover {
    background-color: rgb(89, 108, 126);
}
.clicked-mine {
    background-color: #c8553d;
}
.safe-cell {
    background-color: rgb(211, 133, 211);
}